@model CategoryCollectionViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section end -->
<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="img/hero_1.jpg">
    <div class="container">
        <div class="hero-text text-white">
            <h2 class="text-danger">Get The Best Free Online Courses</h2>
            <p class="text-danger">As you evolve your career, you need a learning solution that inspires you to create the future. With our platform, you can keep up with the speed of technology, work smarter and faster, and gain in-demand skills in areas like cloud, mobile, security and data.</p>
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- banner section -->
<section class="banner-section spad">
    <div class="container">
        <div class="section-title mb-0 pb-2">
            <h2>Join Our Community Now!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
        <div class="text-center pt-5">
            <a asp-controller="Account" asp-action="Register" class="site-btn">Register Now</a>
        </div>
    </div>
</section>
<!-- banner section end -->
