@{
    ViewData["Title"] = "Login";
}
@model LoginInputViewModel
@inject SignInManager<User> SignInManager
<!-- signup section -->
<section class="signup-section  ">
    <div class="signup-bg set-bg" data-setbg="/img/login.png"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="signup-warp ">
                    <div class="section-title text-white ">
                        <h3 class="text-center text-light m-5">Login - Let's create the future together.</h3>
                    </div>
                    <!-- signup form -->
                   
                        <form class="" method="post" asp-controller="Account" asp-action="Login">
                            <span asp-validation-for="Username" class="text-danger"></span><br />
                            <input asp-for="Username" class="form-control text-center" placeholder="Username" />

                            <span asp-validation-for="Password" class="text-danger"></span><br />
                            <input asp-for="Password" class="form-control text-danger text-center" placeholder="Password" />
                            <div class="d-flex justify-content-center">
                                <button class="site-btn btn-dark  m-1 ">Login</button>
                            </div>
                        </form>

                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            if (loginProviders.Count == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal btn-sm">
                                      <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="site-btn  text-center btn btn-block btn-social btn-facebook " name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Loggin with Facebook</button>
                                            }
                                        </p>
                                </form>
                            }
                        }
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- signup section end -->