@model EditCategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<h1 class="text-center p-3 bg-success">Edit Category</h1>
<hr />

<div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-area="Administration" asp-controller="Administration" asp-action="EditCategory" method="post" class="contact-form" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" value="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryPicture" class="control-label btn btn-warning">Upload Picture </label>
                    <input asp-for="CategoryPicture" hidden accept=".gif,.png,.jpg,.jpeg" />
                    <span asp-validation-for="CategoryPicture" class="text-danger"></span>
                </div>

                <button class="btn btn-success m-1">Save Changes</button>
            </form>
        </div>
    </div>
</div>
